* {
  padding: 0;
  margin: 0;
}

.welcome-text {
  color: red;
  font-size: 30px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

.list-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.list-items a {
  text-decoration: none;
  color: #000;
}

